@import "bootstrap/css/bootstrap.css";

.main-container
{
    padding: 24px;
}

.main-card-display
{
    height: 100%;
}

.invader-card-display
{
    height: 100%;
    text-align: center;
}

.game-card
{
    display: block;
    border-radius: 24px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.game-card-side
{
    border-radius: 12px;
    width: 40%;
}

.game-card-invader
{
    height: 100%;
}

.btn
{
    margin-top: 12px;
}

.fear-panel
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.left-bar,
.right-bar
{
    border: 1px solid gray;
    border-radius: 24px;
    padding: 24px;
}

.main-area,
.invader-area
{
    padding: 12px;
}

.main-area
{
    height: 60vh;
}

.invader-area
{
    height: 30vh;
}

.phase-list
{
    width: 100%
}

.list-group-item
{
    padding: 6px 24px 6px 24px;
}

h3.phase-list-title
{
    font-weight: bold;
    font-size: 1em;
}

.invader-card-label
{
    font-weight: bold;
    font-size: 2em;
}
